<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--<target name="file" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH}.txt"
            layout="${longdate}|${level}|${message}" />-->
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM}/${shortDate}.txt"
            layout="${longdate}|${threadid}|${level}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="debug" writeTo="file"/>
  </rules>
</nlog>
