<?xml version="1.0" encoding="utf-8" ?>
<Schedule>
  <Task name="班次记录同步任务" method="interval"  type="EBS.WinPos.Service.Task.WorkScheduleSyncTask" assembly="EBS.WinPos.Service" running="true">
    <Trigger seconds="300"></Trigger>
  </Task>
  <Task name="订单同步任务" method="interval"  type="EBS.WinPos.Service.Task.OrderSyncTask" assembly="EBS.WinPos.Service" running="true">
    <Trigger seconds="600"></Trigger>
  </Task>
  <Task name="数据全量同步" method="schedule"  type="EBS.WinPos.Service.Task.AllDataSyncTask" assembly="EBS.WinPos.Service" running="true">
    <Trigger time="02:00"></Trigger>
  </Task>
</Schedule>
<!--<?xml version="1.0" encoding="utf-8" ?>
<Schedule>
  -->
<!--<Task name="订单同步任务" method="schedule"  type="EBS.WinPos.Service.Task.OrderSyncTask" assembly="EBS.WinPos.Service" running="false">
    <Trigger weekday="0,1,2,3,4,5,6" time="17:04"></Trigger>
    <Trigger weekday="0,1,2,3,4,5,6" time="17:08"></Trigger>
  </Task>-->
<!--
  <Task name="班次记录同步任务" method="schedule"  type="EBS.WinPos.Service.Task.WorkScheduleSyncTask" assembly="EBS.WinPos.Service" running="false">
    <Trigger time="08:00"></Trigger>
    <Trigger time="13:00"></Trigger>
    <Trigger time="18:00"></Trigger>
    <Trigger time="23:00"></Trigger>
  </Task>
  <Task name="订单同步任务" method="interval"  type="EBS.WinPos.Service.Task.OrderSyncTask" assembly="EBS.WinPos.Service" running="false">
    <Trigger seconds="600"></Trigger>
  </Task>
  <Task name="数据全量同步" method="schedule"  type="EBS.WinPos.Service.Task.AllDataSyncTask" assembly="EBS.WinPos.Service" running="false">
    <Trigger time="02:00"></Trigger>
  </Task>
  -->
<!--<Task name="自动完成调拨退货单2,轮训" method="interval" type="CQSS.O2O.ConsoleTest.IntervalTaskTest" assembly="CQSS.O2O.ConsoleTest" running="true">
    <Trigger seconds="2" beginTime="18:00" endTime="18:10"></Trigger>
    <Trigger seconds="6" beginTime="18:00" endTime="18:10"></Trigger>
    <Trigger seconds="6" beginTime="15:00" endTime="17:00"></Trigger>
  </Task>-->
<!--
</Schedule>-->