<?xml version="1.0" encoding="utf-8" ?>
<Schedule>
  <Task name="自动完成调拨退货单，定时触发" method="schedule"  type="CQSS.O2O.BLL.StockShiftReturnToInventoryTask" assembly="CQSS.O2O.BLL" running="true">
    <Trigger weekday="0,1,2,3,4,5,6" time="17:04"></Trigger>
    <Trigger weekday="0,1,2,3,4,5,6" time="17:08"></Trigger>
  </Task>
  <Task name="自动获取主站调价信息，定时触发" method="schedule"  type="CQSS.O2O.BLL.PriceAdjustmentNoticeTask" assembly="CQSS.O2O.BLL" running="true">
    <Trigger time="08:00"></Trigger>
    <Trigger time="11:00"></Trigger>
    <Trigger time="14:00"></Trigger>
    <Trigger time="17:00"></Trigger>
  </Task>
  <!--<Task name="自动完成调拨退货单2,轮训" method="interval" type="CQSS.O2O.ConsoleTest.IntervalTaskTest" assembly="CQSS.O2O.ConsoleTest" running="true">
    <Trigger seconds="2" beginTime="18:00" endTime="18:10"></Trigger>
    <Trigger seconds="6" beginTime="18:00" endTime="18:10"></Trigger>
    <Trigger seconds="6" beginTime="15:00" endTime="17:00"></Trigger>
  </Task>-->
</Schedule>